#landing-container{
	
	
	padding-top:20px;

}

#navbar-master
{

	
}

.container{
	
	
	padding:25px;
	float:left;
	
}

#visual-container{
	float:right;
}

.panel-row-image{
	
	width:100%
}

.col-4{
	background-color:white;
}
.col-8{
	background-color:white;
}
	